/* Nav */
.links {
    display: flex;
    justify-content: right;
    align-items: auto;
  }

  nav a:hover,
  nav a.active {
    color: #6B6895;
  }

  .links a {
    color: black;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Luxurious Roman', cursive;
  }

  #grad1 {
    height: 50px;
    background-color: #D3B5E5;
    background-image: linear-gradient(#D3B5E5, white);
  }

  .logo {
    position: absolute;
  }

/* Column */
.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexContainer {
    display: flex;
    margin: auto;
    width: 50%;
    flex-wrap: wrap;
    padding: 15px;
}

.container-index {
  position: relative;
  width: 50%;
}

.fade-in {
  animation: fadeIn ease-in 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 60%;
}

.fade-in:hover {
  opacity: 100%;
  transition: opacity 1s;
}

.fade-in.one.container-index {
  animation-delay: 1s;
  cursor: pointer;
}

.fade-in.two.container-index {
  animation-delay: 1s;
  cursor: pointer;
}

.workGrid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
}

.myWork, .mySkills, .myValues, .myContact {
    text-align: center;
    font-family: 'Luxurious Roman';
  }

  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3B5E5;
    height: 50px;
  }

  #grad2 {
    height: 50px;
    background-color: #D3B5E5;
    background-image: linear-gradient(#D3B5E5, white);
  }
  
  .footer a {
    padding: 5px 20px;
    font-family: 'Luxurious Roman';
    text-decoration: none;
  }

  .icons1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons1 img {
    margin: 5px;
    cursor: pointer;
  }
  
  .icons2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
  }

  .icons2 img {
    margin: 15px;
    cursor: pointer;
  }

  @media only screen and (max-width: 600) {
    .flexContainer {
      flex-direction: column;
    }
  }